<launch>
  <param name="/use_sim_time" value="true"/>
  <node pkg="second_project" type = "tf_publisher" name = "tf_publisher"/>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_tf" args="0 0 0 0 0 0 1 t265 base_footprint 100" />
  <node pkg="tf" type="static_transform_publisher" name="velodyne_tf" args="0 0 0 0 0 0 1 t265 velodyne 100" />
  <node pkg="tf" type="static_transform_publisher" name="laser_tf" args="0 0 0 0 0 0 1 t265 laser 100" />

  <!-- Conversion 3D LIDAR in laser-->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
    <remap from="cloud_in" to="/velodyne_points"/>
    <remap from="scan" to="/2d_lidar"/>
    <param name="min_height" value="0.2"/>
    <param name="max_height" value="0.6"/>
    <param name="angle_increment" value="0.004"/>
    <param name="range_max" value="20.0"/>
  </node>

  <!-- Slam toolbox-->
  <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find second_project)/cfg/st_config_lidar.yaml" />
  </node>

  <!--  rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find second_project)/config_mapping.rviz"/>
</launch>

