<launch>
    <param name="/use_sim_time" value="true"/>
    <node pkg="second_project" type = "tf_publisher" name = "tf_publisher"/>
    <node pkg="tf" type="static_transform_publisher" name="velodyne_tf" args="0 0 0 0 0 0 1 t265 velodyne 100" />
    <node pkg="tf" type="static_transform_publisher" name="laser_tf" args="0 0 0 0 0 0 1 t265 laser 100" />
</launch>

